<div class="faq-list">
  <div *ngFor="let item of faqs; let i = index" class="faq-item" [class.open]="item.open">
    <button 
      type="button"
      class="faq-header" 
      [attr.aria-expanded]="item.open" 
      (click)="toggleFaq(i)"
    >
      <span class="faq-question">{{ item.q }}</span>
      <svg class="faq-icon-svg" [class.rotated]="item.open" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <path d="M6 9l6 6 6-6"></path>
      </svg>
    </button>
    
    <div *ngIf="item.open" class="faq-answer-container">
      <p class="faq-answer">{{ item.a }}</p>
    </div>
  </div>
</div>

